body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top, #87ceeb, #e0f7ff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
}

/*Garden container*/
.garden {
    position: relative;
    width: 100%;
    height: 110%;
    overflow: hidden;
}

/*Flower*/
.flower{
    position: absolute;
    width: 80x;
    height: 200px;
    transform: scale(0);
    transition: transform 1s ease, left 2s ease, top 2s ease;
    z-index: 2;
}

.flower.bloom {
    transform: scale(1);
}

/*petals*/
.petal {
    position: absolute;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom, rgb(255, 0, 43), rgb(255, 114, 114));
    border-radius: 50%;
    top: 20px;
    left: 20px;
}

.petal:nth-child(1) { transform: rotate(0deg) translate(30px);}
.petal:nth-child(2) { transform: rotate(60deg) translate(30px);}
.petal:nth-child(3) { transform: rotate(120deg) translate(30px);}
.petal:nth-child(4) { transform: rotate(180deg) translate(30px);}
.petal:nth-child(5) { transform: rotate(240deg) translate(30px);}
.petal:nth-child(6) { transform: rotate(300deg) translate(30px);}

/*center*/
.center {
    position: absolute;
    width: 30px;
    height: 30px;
    background:rgb(250, 150, 166);
    border-radius: 50%;
    top: 25px;
    left: 25px;
    transform: rotate(-45deg);
}

/* heart top circles
.center::before,
.center::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgb(255, 157, 0);
    border-radius: 50%;
}

.center::before {
    top: -11px;
    left: 0;
}

.center::after {
    left: 11px;
    top: 0;
} */

/*bouquet*/
.bouquet {
    position: absolute;
    bottom: 100px;
    transition: all 2s ease;
}

/*message*/
#message {
    opacity: 0;
    transition: opacity 2s ease;
    color: #ff1493;
    font-size: 1.5rem;
    padding: 0 2px;
}

/*replay button*/
#replay {
    margin-top: 5px;
    padding: 8px 20px;
    border: none;
    background: #ff69b4;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 2s ease; 
}

/*falling petals*/
.falling {
    position: absolute;
    width: 12px;
    height: 12px;
    background: pink;
    border-radius: 50%;
    animation: fall linear infinite;
}

/*stem*/
/* .stem {
    position: absolute;
    width: 6px;
    height: 100px;
    background: linear-gradient(to bottom, #2e8b57,#006400);
    top: 45px;
    left: 37px;
    border-radius: 3px;
    z-index: -1;
} */

/*wrap*/
.bouquet-wrap {
    position: absolute;
    width: 280px;
    height: 180px;
    background: linear-gradient(135deg, #ffe4e1, #ffc0cb);
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    clip-path:polygon(50% 100%, 0% 0%, 100% 0%);
    border-radius: 5px;
    box-shadow: inset 0 -15px 25px rgba(0,0,0,0.15);
    opacity: 0;
    transition: opacity 2s ease;
    z-index: 1;
}

/*ribbon*/
.ribbon {
    position: absolute;
    width: 120px;
    height: 30px;
    background: #ff1493;
    bottom: 190px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.25), inset 0 -4px 8px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 2s ease;
    z-index: 3;
}

.ribbon::before,
.ribbon::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background: #ff1493;
    border-radius: 50%;
    top: 0;
}

.ribbon::before {
    left: -20px;
}

.ribbon::after {
    right: -20px;
}

@keyframes fall {
    from {
        transform: translateY(-10vh) rotate(0deg);
    }
    to {
        transform: translateY(110vh) rotate(360deg);
    }
}

/*mobile adjustments*/
@media (max-width: 600px) {
    #message {
        font-size: 1.2rem;
    }
}